<form action="" method="GET">
	<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="sort" onchange="this.form.submit()">
		<option selected>Sort...</option>
		<option value="asc">Title A-Z</option>
		<option value="desc">Title Z-A</option>
	</select>
</form>
